@model VOS_Dist_Site.Models.Catagorie

@{
    ViewBag.Title = "Search Vape Products";
}

<div class="genre">
    <h3><em>@Model.Name</em> Items</h3>

    <ul id="item-list">
        @foreach (var item in Model.Items)
        {
            <li>
                <a href="@Url.Action("Details", new { id = item.ID })">
                    <img alt="@item.Name" src="@item.ItemPictureUrl" class="img-responsive" />
                    <span>@item.Name</span>
                </a>
            </li>
        }
    </ul>
</div>
