@model VOS_Dist_Site.Models.Item
@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name</h2>

<p>
    <img alt="@Model.Name" src="@Model.ItemPictureUrl" class="img-responsive" />
</p>

<div id="item-details">
    <p>
        <em>Catagory:</em>
        @Model.Catagorie.Name
    </p>
    <p>
        <em>Price:</em>
        @String.Format("{0:F}", Model.Price)
    </p>
    <p class="button">
        @Html.ActionLink("Add to cart", "AddToCart",
        "ShoppingCart", new { id = Model.ID }, "")
    </p>
</div>

